<footer id="footer" class="p-3 sans">
  <div class="container">
    <section id="contact" class="row my-3 py-3">
      <div class="col-12 lead" style="margin-top: 50px">
        <p>TGO would like to  help you meet your goals in the smartest, most attractive way possible. <strong>Please get in touch.</strong></p>
        <p><a style="text-decoration: underline" href="mailto:hello@thegraphicsoffice.com">hello@thegraphicsoffice.com</a></p>
      </div>
    </section>
    <hr>
    <section id="sitemap" class="my-3 py-3">
      <div class="row" style="padding-bottom: 150px;">
        <div class="col-12 col-md-2">
          <ul class="list-unstyled">
            <li><a href="/"><strong class="logo">The <br>Graphics <br>Office.</strong></a></li>
            <li><a href="/about">About Us</a></li>
            <!--<li><a href="/case-study">Case Studies</a></li>-->
          </ul>
        </div>
        <div class="col-12 col-md-2">
          <ul class="list-unstyled">
            <li><a href="/work"><strong>Work</strong></a></li>
            <li><a href="/work/archive">Archive</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-2">
          <ul class="list-unstyled">
            <li><a href="/research"><strong>Research</strong></a></li>
            <!--<li><a href="/research">Speaking and Writing</a></li>
            <li><a href="/research">Blog</a></li>-->
          </ul>
        </div>
        <div class="col-12 col-md-2">
          <ul class="list-unstyled">
            <li><a href="/shop"><strong>Book &amp; Print Shop</strong></a></li>
          </ul>
        </div>
        <div class="col-12 col-md-3 offset-md-1">
          <small>Copyright 2018 &copy; The Graphics Office</small>
        </div>
      </div>
    </section>
  </div>
</footer>
