<footer class="bg-dark text-white p-3">
  <div class="container">
    <section id="contact">

    </section>
    <hr>
    <section id="sitemap">
      <div class="row">
        <div class="col-12 col-md-3">
          <ul class="list-unstyled">
            <li><a href="/"><strong>The Graphics Office</strong></a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/case-study">Case Studies</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <ul class="list-unstyled">
            <li><a href="/work"><strong>Work</strong></a></li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <ul class="list-unstyled">
            <li><a href="/research"><strong>Research</strong></a></li>
            <!--<li><a href="/research">Speaking and Writing</a></li>
            <li><a href="/research">Blog</a></li>-->
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <ul class="list-unstyled">
            <li><a href="/shop"><strong>Book &amp; Print Shop</strong></a></li>
          </ul>
        </div>
      </div>
    </section>
    <hr>
    <p>Copyright 2018 &copy; Doug Clouse &amp; Angela Voulongas</p>
  </div>
</footer>
