#the nav {
  font-size: 42px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#the nav p {
  font-style: italic;
  color: teal;
}

.serif,
body,
h1 {
  font-family: "skolar", serif;
  font-weight: 100;
}

.sans,
h2,
nav {
  font-family: "mallory", sans-serif;
}

h2 {
  font-size: 14px;
}

h3 {
  font-size: 20px;
}

h2 a:link,
h2 a:visited {
  color: #000;
}

nav {
  font-size: 22px;
  line-height: 1.25;
}

nav a:link,
nav a:visited,
.services a:link,
.services a:visited {
  color: #000;
}

img {
  max-width: 100%;
}

.active {
  font-weight: 900;
}


.carousel {
  background: #FAFAFA;
}

.carousel-cell {
  width: 90%;
  margin-right: 10px;

}

.carousel-nav .carousel-cell {
  cursor: pointer;
}

.carousel-nav .carousel-cell p {
  display: none;
}

.carousel-nav .carousel-cell.is-nav-selected p {
  display: block;
}

.carousel-nav .carousel-cell.is-nav-selected h3 {
  font-weight: 700;
}

.card, .card-img {
  border: 0;
  border-radius: 0;
}

.services div {
  line-height: 1;
}

.aspect-ratio {
    height: 0;
    position: relative;
}

.aspect-ratio--1x1 {
    padding-bottom: 100%;
}

.aspect-ratio--object {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.cover {
    background-size: cover !important;
}

.bg-center {
    background-repeat: no-repeat;
    background-position: center center;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.db {
    display: block;
}

.fl {
    float: left;
    _display: inline;
}

.fw4 {
    font-weight: 400;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.w-100 {
    width: 100%;
}

.black-90 {
    color: rgba(0, 0, 0, .9);
}

.black-60 {
    color: rgba(0, 0, 0, .6);
}

.pb3 {
    padding-bottom: 1rem;
}

.ph2 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.mb0 {
    margin-bottom: 0;
}

.mt2 {
    margin-top: .5rem;
}

.f5 {
    font-size: 1rem;
}

.f6 {
    font-size: .875rem;
}

@media screen and (min-width: 30em) {
    .w-25-ns {
        width: 25%;
    }

    .pa2-ns {
        padding: .5rem;
    }

    .ph0-ns {
        padding-left: 0;
        padding-right: 0;
    }

    .f4-ns {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .w-50-m {
        width: 50%;
    }
}
