.nav--top a:hover {
  text-decoration: none;
  color: gray;
}

#home .nav--top__logo {
  font-size: 42px;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: .8;
}

nav {
  line-height: 1!important;
}

@media(min-width:768px){
  #home .nav--top__items {
    position: absolute;
    top: 76px;
    left: 7.5em;
  }
  .nav--top__items {
    position: absolute;
      top: 44px;
      left: 4em;
  }
}

.typer {
  font-style: italic;
  color: teal;
  display: block;
  text-align: right;
}

.serif,
body,
h1 {
  font-family: "skolar", serif;
  font-weight: 100;
}

.sans,
h2,
nav {
  font-family: "mallory", sans-serif;
}

.sans strong {
  font-weight: bold;
}

footer a:link,
footer a:visited {
  color: #fff;
}

#selected-projects a:link,
#selected-projects a:visited {
  color: #222;
}

#selected-projects .card img {
  transform: scale(.8);
  transition: all .25s;
}

#selected-projects .card:hover img {
  transform: scale(.9);
}

h2 {
  font-size: 14px;
}

h3 {
  font-size: 20px;
}

h2 a:link,
h2 a:visited {
  color: #000;
}

nav {
  font-size: 22px;
  line-height: 1.25;
}

a:link,
a:visited {
  color: #000;
}

img {
  max-width: 100%;
}

.active {
  font-weight: 900;
}


.carousel {
  background: #FAFAFA;
}

.carousel-cell {
  width: 90%;
  margin-right: 10px;

}

.carousel-nav .carousel-cell {
  cursor: pointer;
}

.carousel-nav .carousel-cell .carousel-cell__content {
  display: none;
}

.carousel-nav .carousel-cell.is-nav-selected .carousel-cell__content {
  display: block;
}

.carousel-nav .carousel-cell.is-nav-selected h3 {
  font-weight: 700;
}

.card, .card-img {
  border: 0;
  border-radius: 0;
}

.card a:link,
.card a:visited {
  display: block;
}

.services div {
  line-height: 1;
}

footer #contact {
  min-height: 80vh;
}


.card-columns {
  column-count: 2;
}
@media (min-width: 768px) {
  .card-columns {
    column-count: 3;
  }
}

.section {
  margin-bottom: 50px;
}

.section img {
  margin: auto;
  width: 100%;
}

figcaption {
  font-style: italic;
  color: gray;
  margin-top: .5em;
  text-align: center;
}

.page__title,
.page__subtitle {
  font-family: "mallory", sans-serif;
  font-size: 2em;
}

.page__title {
  font-weight: 900;
}
.page__subtitle {
  font-weight: lighter;
}

.arena-iframe {
  min-height: 100vh;
  width: 100%;
  border: none;
}

.btn-link {
  padding: 0;
  color: #000;
  display: inline;
}
.btn-link:hover {
  color: gray;
}

blockquote {
  color: gray;
  border-left: 2px solid lightgray;
  padding-left: 1em;
}
