---
layout: default
---
<div class="container-fluid py-3" style="background: #eee;">
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="sans">Essays &amp; Articles</h1>
      <div class="serif h2 col-md-8" style="margin: 50px 0 100px 0;">{{ content }}</div>
    </div>
  </div>
  <div class="row">
    <section id="essays" class="col-6">
      <ul class="list-unstyled">
        {% for post in site.posts %}
        <li class="media mb-3">
          <div class="media-body">
            <a href="{{ post.url }}">
              <h5 class="mt-0 mb-1">{{ post.title }}</h5>
              {{ post.excerpt | strip_html | truncate: 140 }}
            </a>
          </div>
        </li>
        {% endfor %}
      </ul>
    </section>
  </div>
</div>
