---
layout: default
---

</div>
<div class="container-fluid" style="display: block; width: 100%; height: 50vh; margin-bottom: 25px; background-image:url('{% if page.header-image %}{{ page.header-image }}{% else %}http://placehold.it/1000x600?text={{ page.title }}{% endif %}'); background-size: cover; background-position: center;">

</div>
<div class="container">
<div class="lead col-md-8 offset-md-2" style="display: block; margin: 50px auto!important;">
  {{ content }}
</div>

{% for section in page.sections %}
  <div class="row">
    <div class="col-12 col-md-8">
      <figure>
        <img src="{{ section.image }}" alt="{{ section.image_caption }}">
        <figcaption>{{ section.image_caption }}</figcaption>
      </figure>
    </div>
    <div class="col-12 col-md-4">
      {{ section.text | markdownify }}
    </div>
  </div>
{% endfor %}
