---
layout: default
---

{% if page.header-image %}
</div>
<div class="container-fluid p-0">
    <img src="{{ page.header-image }}" alt="{{ page.title }}" style="width: 100%;">
</div>
<div class="container">
{% endif %}
<div class="lead col-md-8 offset-md-2" style="display: block; margin: 50px auto!important;">
  {{ content }}
</div>

{% for section in page.sections %}
  <div class="row">
    <div class="col-12 col-md-8">
      <figure>
        <img src="{{ section.image }}" alt="{{ section.image_caption }}">
        <figcaption>{{ section.image_caption }}</figcaption>
      </figure>
    </div>
    <div class="col-12 col-md-4">
      {{ section.text | markdownify }}
    </div>
  </div>
{% endfor %}
