---
layout: default
---

<div class="row" style="margin-top: 50px;">
  <div class="col col-md-6 typer">
    The Graphics Office
    <span id="typer">
      {% for typing in page.typings %}
      {{ typing }}<br>
      {% endfor %}
    </span>
    <br>
    <a class="sans" href="/about" style="font-style: normal;"><small>Read more</small></a>
  </div>
</div>
<hr style="border-color: #000;">
</div>
<div class="container">
<section id="work" class="my-4">
  <h2>Our Work</h2>
  <div class="row">
    <div class="col-12 col-md-3 mt-3">
      <section class="services sans">
        <a href="/work/#filter=.graphic-design" class="font-weight-bold">Browse by services →</a>
        <hr>
        <a href="/work/#filter=.museum-library" class="font-weight-bold">Browse by category →</a>
      </section>
    </div>
    {% for work in site.work limit:3 %}
    <div class="col-3">
      <a href="{{ work.url }}">
        <img src="{% if work.thumb %}{{ work.thumb }}{% else %}http://placehold.it/350x250?text={{ work.title }}{% endif %}" alt="{{ work.title }}">
        {{ work.title }}
      </a>
    </div>
    {% endfor %}
  </div>
</section>
</div>

<section id="casestudies" class="my-4">
  <div class="container-fluid sans">
    <hr>
    <div class="container">
      <div class="row">
        <h2 class="col">Case Studies</h2>
      </div>
    </div>
    <div class="carousel-container row">
      <div class="carousel carousel-main col-md-9 mb-4">
        {% for case-study in site.case-study %}
          <div class="carousel-cell"><a href="{{ case-study.url }}"><img src="{% if case-study.header-image %}{{ case-study.header-image }}{% else %}http://placehold.it/1000x600?text={{ case-study.title }}{% endif %}" alt="{{ case-study.title }}"></a></div>
        {% endfor %}
      </div>
      <div class="carousel-nav col-md-3">
        {% for case-study in site.case-study %}
          <div class="carousel-cell {% if forloop.first %}is-nav-selected{% endif %}">
            <h3>{{ case-study.title }}</h3>
            <div class="carousel-cell__content">
              {% if case-study.description %}{{ case-study.description | markdownify }}{% endif %}
              <small><a href="{{ case-study.url }}">Read more &rarr;</a></small>
            </div>
            {% if forloop.last == false %}<hr>{% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<div class="container">
<section id="research" class="my-4">
  <h2><a href="/research">Our Research &rarr;</a></h2>
  <div class="row">
    <div class="col-sm-6 mb-4">
      <div class="card bg-dark text-white">
        <img class="card-img" src="/uploads/coopertype-blue.jpg">
        <a class="card-img-overlay" href="/research">
          <h5 class="card-title">Speaking and Writing</h5>
        </a>
      </div>
    </div>
    <div class="col-sm-6 mb-4">
      <div class="card bg-dark text-white">
        <img class="card-img" src="http://placehold.it/600x400" alt="Card image">
        <a class="card-img-overlay" href="/research">
          <h5 class="card-title">Blog</h5>
        </a>
      </div>
    </div>
  </div>
</section>

<hr>

<section id="shop" class="my-4">
  <h2><a href="/shop">Book &amp; Print Shop &rarr;</a></h2>
  <div class="row">
    {% for item in site.shop %}
        <div class="col-6 col-md-3">
            <a href="{{ item.url }}">
                <img src="{{ item.image }}" alt="{{ item.title }}">
                {{ item.title }}
            </a>
        </div>
    {% endfor %}
  </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script type="text/javascript">
// external js: flickity.pkgd.js

var $carousel = $('.carousel').flickity({
  pageDots: false,
  wrapAround: true,
  autoPlay: true
});

var $carouselNav = $('.carousel-nav');
var $carouselNavCells = $carouselNav.find('.carousel-cell');

$carouselNav.on( 'click', '.carousel-cell', function( event ) {
  var index = $( event.currentTarget ).index();
  $carousel.flickity( 'select', index );
});

var flkty = $carousel.data('flickity');
var navTop  = $carouselNav.position().top;
var navCellHeight = $carouselNavCells.height();
var navHeight = $carouselNav.height();

$carousel.on( 'select.flickity', function() {
  // set selected nav cell
  $carouselNav.find('.is-nav-selected').removeClass('is-nav-selected');
  var $selected = $carouselNavCells.eq( flkty.selectedIndex )
    .addClass('is-nav-selected');
  // scroll nav
  var scrollY = $selected.position().top +
    $carouselNav.scrollTop() - ( navHeight + navCellHeight ) / 2;
  $carouselNav.animate({
    scrollTop: scrollY
  });
});
</script>
<script src="https://cdn.jsdelivr.net/npm/typeit/dist/typeit.min.js"></script>
<script type="text/javascript">
var instance = new TypeIt('#typer', {
   cursor: false,
   breakLines: false,
   autoStart: false,
   loop: true
});
</script>
