---
layout: default
---

<h2 class="serif">{{ content }}</h2>

<section id="research">
  <section id="talks">
    <h2><a href="">Talks &rarr;</a></h2>
  </section>
  <section id="essays">
    <h2><a href="">Essays &amp; Articles &rarr;</a></h2>
  </section>
  <section id="books">
    <h2><a href="">Books &rarr;</a></h2>
  </section>
</section>

<section id="feeds">
  <h2>What we're looking at...</h2>
  <section id="doug">
    <h3>Doug</h3>
  </section>
  <section id="angela">
    <h3>Angela</h3>
  </section>
</section>
