---
layout: default
---

<div class="row">
    <section id="imagery" class="my-4 col">
        <img src="{{ page.image }}">
    </section>
</div>
<div class="row">
    <h1 class="serif h2 pb-3 col col-md-7">{{ content }}</h1>
</div>
<div class="row">
    <div class="col">
        <hr style="border-color: #000;">
    </div>
</div>
</div>
<div class="container">
<section id="prints">
    <h2>Prints</h2>
    <div class="row">
        {% assign prints = site.shop | where: "categories","Prints" %}
        {% for item in prints %}
            <div class="col-6 col-md-4">
                <a href="{{ item.url }}">
                    <img src="{{ item.image }}" alt="{{ item.title }}">
                    {{ item.title }}
                </a>
            </div>
        {% endfor %}
    </div>

</section>

<hr>

<section id="books">
    <h2>Books</h2>
    <div class="row">
      {% assign books = site.shop | where: "categories","Books" %}
      {% for item in books %}
          <div class="col-6 col-md-3">
              <a href="{{ item.url }}">
                  <img src="{{ item.image }}" alt="{{ item.title }}">
                  {{ item.title }}
              </a>
          </div>
      {% endfor %}
    </div>
</section>
