---
layout: default
---
<div class="container">
<section id="imagery" class="my-4">
    <img src="/uploads/shop.jpg">
</section>

<h1 class="serif text-center h2 pb-3" style="max-width:800px;margin: auto;">{{ content }}</h1>

<hr>

<section id="prints">
    <h2>Prints</h2>
    <div class="row">
        {% assign prints = site.shop | where: "categories","Prints" %}
        {% for item in prints %}
            <div class="col-6 col-md-4">
                <a href="{{ item.url }}">
                    <img src="{{ item.image }}" alt="{{ item.title }}">
                    {{ item.title }}
                </a>
            </div>
        {% endfor %}
    </div>

</section>

<hr>

<section id="books">
    <h2>Books</h2>
    <div class="row">
      {% assign books = site.shop | where: "categories","Books" %}
      {% for item in books %}
          <div class="col-6 col-md-3">
              <a href="{{ item.url }}">
                  <img src="{{ item.image }}" alt="{{ item.title }}">
                  {{ item.title }}
              </a>
          </div>
      {% endfor %}
    </div>
</section>
