---
layout: default
---

<div class="row">
  <div class="serif h2 col-md-7" style="margin: 50px 0;">{{ content }}</div>
</div>

<hr style="border-color: #000;">
</div>
<div class="container">
<section id="selected-projects">
  <div class="row">
    <section id="browse" class="sans col-md-3">
      <h2>Filter projects by...</h2>
      <ul class="button-group filter-button-group">
        <li><button class="btn btn-link active" data-filter=".featured">Selected projects</button></li>
        <li><button class="btn btn-link" data-filter="*">All projects</button></li>
      </ul>
      <h2>Services</h2>
      <ul class="button-group filter-button-group">
      {% for role in page.role %}
        <li><button class="btn btn-link" data-filter=".{{ role | slugify | lowercase}}">{{ role }}</button></li>
      {% endfor %}
      </ul>
      <h2>Subject Matter</h2>
      <ul class="button-group filter-button-group">
        {% for subject-matter in page.subject-matter %}
          <li><button class="btn btn-link" data-filter=".{{ subject-matter | slugify | lowercase}}">{{ subject-matter }}</button></li>
        {% endfor %}
      </ul>
    </section>
    <section id="selected-projects" class="col-md-9">
      <div class="grid">
        {% for work in site.work %}
          <div class="col-md-4 card p-3 text-center sans {% for role in work.roles %} {{ role | slugify | lowercase }}{% endfor %} {% if work.featured %}featured{% endif %} {% for category in work.categories %} {{ category | lowercase | slugify }}{% endfor %} {% for client in work.client %} {{ client | lowercase | slugify }}{% endfor %} {% for category in work.categories %} {{ category | lowercase | slugify }}{% endfor %}">
            <a href="{{ work.url }}" style="background-image:url({{ work.thumb }});">
              <div class="card-title">
                <h5><strong>{{ work.title }}</strong></h5>
                {% for role in work.roles limit:1 %}
                  <small>{{ role }}</small>
                {% endfor %}
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </section>
  </div>

  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <script>
  // filter functions
  var filterFns = {
    // show if number is greater than 50
    numberGreaterThan50: function() {
      var number = $(this).find('.number').text();
      return parseInt( number, 10 ) > 50;
    },
    // show if name ends with -ium
    ium: function() {
      var name = $(this).find('.name').text();
      return name.match( /ium$/ );
    }
  };

  function getHashFilter() {
    // get filter=filterName
    var matches = location.hash.match( /filter=([^&]+)/i );
    var hashFilter = matches && matches[1];
    return hashFilter && decodeURIComponent( hashFilter );
  }

  // init Isotope
  var $grid = $('.grid');

  // bind filter button click
  var $filterButtonGroup = $('.filter-button-group');
  $filterButtonGroup.on( 'click', 'button', function() {
    var filterAttr = $( this ).attr('data-filter');
    // set filter in hash
    location.hash = 'filter=' + encodeURIComponent( filterAttr );
  });

  var isIsotopeInit = false;

  function onHashchange() {
    var hashFilter = getHashFilter();
    if ( !hashFilter && isIsotopeInit ) {
      return;
    }
    isIsotopeInit = true;
    // filter isotope
    $grid.isotope({
      itemSelector: '.card',
      layoutMode: 'masonry',
      // use filterFns
      filter: filterFns[ hashFilter ] || hashFilter
    });
    // set selected class on button
    if ( hashFilter ) {
      $filterButtonGroup.find('.active').removeClass('active');
      $filterButtonGroup.find('[data-filter="' + hashFilter + '"]').addClass('active');
    }
  }

  $(window).on( 'hashchange', onHashchange );

  // trigger event handler to init Isotope
  onHashchange();
  </script>

<hr>

<section id="casestudies" class="mb-3">
  <h2>Case Studies</h2>
  <div class="row">
    {% for case-study in site.case-study %}
      <div class="col">
        <a href="{{ case-study.url }}">
          <img src="{% if case-study.header-image %}{{ case-study.header-image }}{% else %}http://placehold.it/1000x600?text={{ case-study.title }}{% endif %}" alt="{{ case-study.title }}">
        </a>
      </div>
    {% endfor %}
  </div>
</section>
