---
layout: default
---

<h1 class="serif text-center h2 pb-3" style="max-width:800px;margin: auto;">{{ content }}</h1>

<div class="row">
  <section id="browse" class="sans col-4">
    <h2>Browse Projects by...</h2>
    <h3><a href="">Chronology &rarr;</a></h3>
    <h3><a href="">Client &rarr;</a></h3>
    <h3>Services</h3>
    <ul>
      <li><a href="">Graphic Design</a></li>
      <li><a href="">Image Research</a></li>
      <li><a href="">Exhibition Design</a></li>
      <li><a href="">Book Design</a></li>
      <li><a href="">Identity</a></li>
      <li><a href="">Illustration</a></li>
      <li><a href="">Web Design</a></li>
      <li><a href="">Product Development</a></li>
      <li><a href="">Printing</a></li>
      <li><a href="">Map Making</a></li>
      <li><a href="">Information Graphics</a></li>
      <li><a href="">Editing</a></li>
    </ul>
    <h3>Subject Matter</h3>
    <ul>
      <li><a href="">Museum</a></li>
      <li><a href="">Archive</a></li>
      <li><a href="">Garden</a></li>
    </ul>
    <div class="button-group filter-button-group">
      <button class="button is-checked" data-filter="*">show all</button>
      <button class="button" data-filter=".graphic-design">metal</button>
      <button class="button" data-filter=".transition">transition</button>
      <button class="button" data-filter=".alkali, .alkaline-earth">alkali and alkaline-earth</button>
      <button class="button" data-filter=":not(.transition)">not transition</button>
      <button class="button" data-filter=".metal:not(.transition)">metal but not transition</button>
      <button class="button" data-filter="numberGreaterThan50">number > 50</button>
      <button class="button" data-filter="ium">name ends with &ndash;ium</button>
    </div>
  </section>
  <section id="selected-projects" class="col-8">
    <h2>Selected Projects</h2>
    <div class="grid" data-isotope='{ "itemSelector": ".card", "layoutMode": "fitRows" }'>
      {% for work in site.work %}
        <div class="card p-3 text-center sans {% for role in work.meta.roles %} {{ role | slugify | lowercase }}{% endfor %}">
          <a href="{{ work.url }}">
            <img class="card-img-top" src="{% if work.thumb %}{{ work.thumb }}{% else %}http://placehold.it/400x400{% endif %}" alt="{{ work.title }}">
            <h5 class="card-title mt-2"><strong>{{ work.title }}</strong></h5>
          </a>
        </div>
      {% endfor %}
    </div>
  </section>
</div>

<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script>
// filter functions
var filterFns = {
  // show if number is greater than 50
  numberGreaterThan50: function() {
    var number = $(this).find('.number').text();
    return parseInt( number, 10 ) > 50;
  },
  // show if name ends with -ium
  ium: function() {
    var name = $(this).find('.name').text();
    return name.match( /ium$/ );
  }
};

function getHashFilter() {
  // get filter=filterName
  var matches = location.hash.match( /filter=([^&]+)/i );
  var hashFilter = matches && matches[1];
  return hashFilter && decodeURIComponent( hashFilter );
}

// init Isotope
var $grid = $('.grid');

// bind filter button click
var $filterButtonGroup = $('.filter-button-group');
$filterButtonGroup.on( 'click', 'button', function() {
  var filterAttr = $( this ).attr('data-filter');
  // set filter in hash
  location.hash = 'filter=' + encodeURIComponent( filterAttr );
});

var isIsotopeInit = false;

function onHashchange() {
  var hashFilter = getHashFilter();
  if ( !hashFilter && isIsotopeInit ) {
    return;
  }
  isIsotopeInit = true;
  // filter isotope
  $grid.isotope({
    itemSelector: '.card',
    layoutMode: 'fitRows',
    // use filterFns
    filter: filterFns[ hashFilter ] || hashFilter
  });
  // set selected class on button
  if ( hashFilter ) {
    $filterButtonGroup.find('.is-checked').removeClass('is-checked');
    $filterButtonGroup.find('[data-filter="' + hashFilter + '"]').addClass('is-checked');
  }
}

$(window).on( 'hashchange', onHashchange );

// trigger event handler to init Isotope
onHashchange();
</script>
