---
layout: default
---

<section id="selected-projects">
  <h2>Selected Projects</h2>
  <div class="card-columns">
    {% for work in site.work %}
      <div class="card p-3 text-center sans">
        <a href="{{ work.url }}">
          <img class="card-img-top" src="{% if work.thumb %}{{ work.thumb }}{% else %}http://placehold.it/400x400{% endif %}" alt="{{ work.title }}">
          <h5 class="card-title mt-2"><strong>{{ work.title }}</strong></h5>
        </a>
      </div>
    {% endfor %}
  </div>
</section>

<h1 class="serif text-center h2 pb-3" style="max-width:800px;margin: auto;">{{ content }}</h1>


<hr>

<p class="text-center sans"><a href="/work/archive">See all projects &rarr;</a></p>

<hr>

<section id="browse" class="sans">
  <h2>Browse Projects by...</h2>
  <div class="row">
    <div class="col-3">
      <h3><a href="">Chronology &rarr;</a></h3>
      <h3><a href="">Client &rarr;</a></h3>
    </div>
    <div class="col-6">
      <h3>Services</h3>
      <div class="row">
        <div class="col-6">
          <ul>
            <li><a href="">Graphic Design</a></li>
            <li><a href="">Image Research</a></li>
            <li><a href="">Exhibition Design</a></li>
            <li><a href="">Book Design</a></li>
            <li><a href="">Identity</a></li>
            <li><a href="">Illustration</a></li>
          </ul>
        </div>
        <div class="col-6">
          <ul>
            <li><a href="">Web Design</a></li>
            <li><a href="">Product Development</a></li>
            <li><a href="">Printing</a></li>
            <li><a href="">Map Making</a></li>
            <li><a href="">Information Graphics</a></li>
            <li><a href="">Editing</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-3">
      <h3>Subject Matter</h3>
      <ul>
        <li><a href="">Museum</a></li>
        <li><a href="">Archive</a></li>
        <li><a href="">Garden</a></li>
      </ul>
    </div>
  </div>
</section>

<section id="casestudies">

</section>
