---
layout: default
---

<h1 class="serif text-center h2 pb-3" style="max-width:800px;margin: auto;">{{ content }}</h1>

<div class="row">
  <section id="browse" class="sans col-4">
    <h2>Browse Projects by...</h2>
    <ul class="button-group filter-button-group">
      <button class="btn btn-link" data-filter="*">show all</button>
    </ul>
    <h3>Services</h3>
    <ul class="button-group filter-button-group">
    {% for role in page.role %}
      <li><button class="btn btn-link" data-filter=".{{ role | slugify | lowercase}}">{{ role }}</button></li>
    {% endfor %}
    </ul>
    <h3>Subject Matter</h3>
    <ul class="button-group filter-button-group">
      {% for subject-matter in page.subject-matter %}
        <li><button class="btn btn-link" data-filter=".{{ subject-matter | slugify | lowercase}}">{{ subject-matter }}</button></li>
      {% endfor %}
    </ul>
  </section>
  <section id="selected-projects" class="col-8">
    <h2>Selected Projects</h2>
    <div class="grid">
      {% for work in site.work %}
        <div class="col-md-4 card p-3 text-center sans {% for role in work.meta.roles %} {{ role | slugify | lowercase }}{% endfor %}">
          <a href="{{ work.url }}">
            <img class="card-img-top" src="{% if work.thumb %}{{ work.thumb }}{% else %}http://placehold.it/400x400{% endif %}" alt="{{ work.title }}">
            <h5 class="card-title mt-2"><strong>{{ work.title }}</strong></h5>
          </a>
        </div>
      {% endfor %}
    </div>
  </section>
</div>

<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script>
// filter functions
var filterFns = {
  // show if number is greater than 50
  numberGreaterThan50: function() {
    var number = $(this).find('.number').text();
    return parseInt( number, 10 ) > 50;
  },
  // show if name ends with -ium
  ium: function() {
    var name = $(this).find('.name').text();
    return name.match( /ium$/ );
  }
};

function getHashFilter() {
  // get filter=filterName
  var matches = location.hash.match( /filter=([^&]+)/i );
  var hashFilter = matches && matches[1];
  return hashFilter && decodeURIComponent( hashFilter );
}

// init Isotope
var $grid = $('.grid');

// bind filter button click
var $filterButtonGroup = $('.filter-button-group');
$filterButtonGroup.on( 'click', 'button', function() {
  var filterAttr = $( this ).attr('data-filter');
  // set filter in hash
  location.hash = 'filter=' + encodeURIComponent( filterAttr );
});

var isIsotopeInit = false;

function onHashchange() {
  var hashFilter = getHashFilter();
  if ( !hashFilter && isIsotopeInit ) {
    return;
  }
  isIsotopeInit = true;
  // filter isotope
  $grid.isotope({
    itemSelector: '.card',
    layoutMode: 'masonry',
    // use filterFns
    filter: filterFns[ hashFilter ] || hashFilter
  });
  // set selected class on button
  if ( hashFilter ) {
    $filterButtonGroup.find('.active').removeClass('active');
    $filterButtonGroup.find('[data-filter="' + hashFilter + '"]').addClass('active');
  }
}

$(window).on( 'hashchange', onHashchange );

// trigger event handler to init Isotope
onHashchange();
</script>
